/* --------------------------------- INSTALLING FONTS! ----------------------- */

@font-face {
	font-family: BoldCond;
	src: local("MyriadPro BoldCond"), 
	   url(fonts/MyriadPro-BoldCond.otf);
}
@font-face {
	font-family: LightCond;
	src: local("MyriadPro LightCond"),  
	   url(fonts/MyriadPro-LightCond.otf);
}
@font-face {
	font-family: Light;
	src: local("MyriadPro Light"),  
	   url(fonts/MyriadPro-Light.otf.otf);
}

@font-face {
	font-family: SemiBold;
	src: local("MyriadPro Semibold"),  
	   url(fonts/MyriadPro-Semibold.otf);
}
@font-face {
	font-family: SemiLight;
	src: local("MyriadPro-LightSemiCn"),  
	   url(fonts/MyriadPro-LightSemiCn.otf);
}
@font-face {
	font-family: MyriadPro-Regular;
	src: local("MyriadPro-Regular"),  
	   url(fonts/MyriadPro-Regular.otf);
}
@font-face {
	font-family: MyriadPro-BoldSemiCn;
	src: local("MyriadPro-BoldSemiCn"),  
	   url(fonts/MyriadPro-BoldSemiCn.otf);
}

body {
margin:auto;
width:775px;
}
/* ----------------------------- top-menu -------------------------------------  */
.menu-button, .menu-top-h{
display: inline-block;
padding-top:25px;
padding-bottom:25px;
}

.menu-button{
text-align:center;
width: 120px;
font-family: BoldCond;
}

.menu-button a{
text-decoration:none;
color: #2e2e2e;
}
.menu-button a:hover {
color:#fe8b00;
}
/* ------------------------- logo-container  ---------------------------------  */
/* --------------------------  upper part ------------------------------------  */
.upper-part {
background-color: #2e2e2e;
width: 775px;
height:245px;
}
.upper-white_stripe1{
background-color:#6e6e6e;
width: 30px;
height:245px;
float: left;
}

.upper-white_stripe2{
background-color:#eef0f2;
width: 30px;
height:245px;
float: left;
}

.upper-lights {
background-image: url(images/logo-container-upper-lights.png);
width: 193px;
height:245px;
float: left;
}

.upper-lights-logo{
background-image: url(images/logo-container-upper-lightsLogo.png);
margin-top:55px;
margin-left:70px;
width: 50px;
height:65px;
float: left;
}
.upper-lights-text1{
margin-top:-25px;
color:#febb6a;
float:left;
margin-left:35px;
font-family:LightCond;
font-size:30pt;
}
.upper-lights-text1 p{
display:inline-block;
color:#ffffff;
}
.upper-lights-text2{
margin-top:-35px;
float: left;
color:#616161;
font-size:9pt;
margin-left:25px;
font-family: SemiBold;
}
.upper-logo{
background-image: url(images/logo-container-upper-logo.png);
width: 522px;
height:245px;
float: left;
}
.upper-logo-text1{
margin-top:80px;
margin-left:390px;
font-family: LightCond;	
color:#3f5763;
font-size:30pt;
}
.upper-logo-text2{
margin-top:-10px;
margin-left:390px;
font-family: BoldCond;
color:#fe8900;
font-size:11pt;
}

.upper-logo-line{
margin-left:390px;
height:1px;
width:150px;
background-color:#737576;
}
.upper-logo-button{
margin-left:430px;
margin-top:15px;
background-image:url(images/logo-container-upper-logo-button.png);
height:17px;
width:81px;
display:inline-block;
text-align:center;
}
.upper-logo-button a{ 
display: block; 
text-align: center;
height: 100%; 
color:white;
font-size:8pt;
font-family:Trebuchet MS;
text-decoration:none; 
}
.upper-logo-button a:hover{
color:#fe8b00;
}
/* --------------------------  bottom part ------------------------------------  */

.bottom-white_stripe1{
background-color:#feae4d;
width: 30px;
height:94px;
float: left;
}

.bottom-white_stripe2{
background-color:#feae4d;
width: 30px;
height:128px;
float: left;
}

.bottom-left {
float:left;
background-color:#fe8b00;
width: 193px;
height:94px;
}
.bottom-left img {
margin-left:11px;
margin-top:14px;
float:left;
}
.bottom-left-text1{
margin-left:11px;
margin-top:14px;
font-family: MyriadPro-Regular;
float:left;
color:white;
}

.bottom-left-text2{
margin-left:11px;
font-family: MyriadPro-Regular;
float:left;
color:#febb6a;
font-size:8pt;
}

.bottom-left-button{
float:left;
background-image:url(images/logo-container-bottom-left-button.png);
margin-left:90px;
margin-top:15px;
width: 83px;
height:19px;
}
.bottom-left-button a{ 
display: block; 
text-align: center;
height: 100%; 
color:white;
font-size:8pt;
font-family:Trebuchet MS;
text-decoration:none; 
}
.bottom-left-button a:hover{
color:#fe8b00;
}

.bottom-right{
float:left;
background-image:url(images/logo-container-bottom-right.png);
width: 522px;
height:128px;
}
.bottom-right-image{
margin-top:8px;
margin-left:10px;
float:left;
}

.bottom-right-text1{
margin-top:-10px;
font-size:22pt;
color: white;
float:left;
font-family: LightCond;
}
.bottom-right-text1 p{
display:inline-block;
font-family: Light;
color:#2e2e2e;
}
.bottom-right-text2{
margin-top:-35px;
font-size:8pt;
color: #febb6a;
float:left;
font-family: MyriadPro-Regular;
}

.bottom-right-text3{
margin-top:-15px;
font-size:8pt;
color: white;
float:left;
width:400px;
font-family:Trebuchet MS;
}
.bottom-right-text3 p{
margin-top:-1px;
display:inline-block;
font-family: Light;
color:#2e2e2e;
}
/* ------------------------ CONTAINER -----------------------------*/
/* -------------------------- LEFT --------------------------------*/

.left{
margin-left:30px;
width:193px;
float:left;
}

.left-name{
	font-family: MyriadPro-BoldSemiCn;
	color:#6d6d6d;
	font-size:15pt;
	float: left;
}
.left-line{
background-color:#6d6d6d;
height: 1px;
width: 193px;
float: left;
margin-bottom:5px;
}
.left-list{
float:left;
list-style-image: url(images/container-left-list-ico.png); 
}
.left-list ol{ 
margin-left:-20px;
margin-top:-1px;
font-size:8pt;
}
.left-list-line
{
width:188px;
height:1px;
background-color:#e2e2e2;
margin-bottom:10px;
margin-left:-17px;
margin-top:5px;
}
.RegularTrebuchet{
font-family:Trebuchet MS;
}


.left-text-block{
float: left;
color:#848484;
font-size:9pt;
margin-bottom:5px;
}

.left-text-block p:nth-child(1){
margin:0;
padding:0;
margin-top:5px;
color:#fe8b00;
font-weight:bold;
}

.left-text-block p:nth-child(2){
margin:0;
padding:0;
display:inline-block;
color:#2e2e2e;
}

.left-btn2 {
float:left;
margin-left: 150px;
margin-top:-4px;
margin-bottom:25px;
}

/* -------------------------- RIGHT --------------------------------*/

.right {
margin-left:30px;
width:495px;
float:left;
}

.right-line{
background-color:#6d6d6d;
height: 1px;
width: 495px;
float: left;
margin-top:-25px;
}

.right-name{
	font-family: SemiBold;
	color:#2e2e2e;
	font-size:22pt;
	float: left;
}

.right-name p{
	font-family: SemiLight;
	display:inline-block;
	color:#848484;
}


.right-text-block{
float: left;
color:#848484;
font-size:9pt;
margin-bottom:5px;
margin-top:-15px;
}

.right-text-block p:nth-child(1){
margin:0;
padding:0;
margin-top:5px;
color:#fe8b00;
display:inline-block;
font-weight:bold;
}

.right-text-block p:nth-child(2){
margin:0;
padding:0;
display:inline-block;
text-decoration:underline;
}

.right-text-block p:nth-child(3){
margin:0;
padding:0;
display:inline-block;
color:#2e2e2e;
text-decoration:underline;
}



.right-name2{
	font-family: SemiBold;
	color:#2e2e2e;
	font-size:22pt;
	float: left;
}

.right-name2 p{
display:inline-block;
margin-left:170px;
}

.right1{
width: 250px;
float:left;
}
.right1-img{
float:left;
margin-bottom: 10px;
}

.right1-text{
margin-left:50px;
margin-top:-50px;
font-size:9pt;
float:left;
}
.boldTrebuchet{
display:inline;
font-weight:bold;
font-family:Trebuchet MS;
}


.right2{
width:220px;
float:left;
margin-left:25px;
}

.right2-text1{
float: left;
color:#848484;
font-size:9pt;
text-decoration:underline;
width:110px;
margin-top:-70px;
margin-left:110px;
margin-bottom:25px;
}


.right-btn2{
margin-left:120px;
margin-bottom:25px;
}


/* ----------------------------- FOOTER -------------------------------------*/
.footer{
background-color:#f0f0f0;
width:775px;
height:55px;
clear:both;
color:#6a6a6a;
}
.footer-menu-button a{
color:#6a6a6a;
text-decoration:none;
}
.footer-menu-button a:hover{
color:#fe8b00;
text-decoration:none;
}
.footer-menu{
font-size:10px;
padding-top:15px;
display:inline-block;
text-align:center;
width:775px;
}
.footer-menu-button{
display:inline-block;
text-align:center;
width:55px;
}

.footer-text{
font-size:10px;
padding-top:5px;
display:inline-block;
text-align:center;width:775px;
}
